<!-- 表尾 -->
<div class="d-flex justify-center align-center bg-primary-200 py-24 mt-40 mt-md-24">
  <p class="h4 mr-24 h5-md mr-md-16">加入會員取得 9 折優惠</p>
  <button type="button" class="btn btn-dark btn-md">馬上註冊</button>
</div>


<footer class="py-64 bg-netural-100 py-md-32  px-md-12">
  <nav class="container pb-24 section-line mb-32 mb-md-36">
    <ul class="d-flex justify-end align-center d-md-flex-column d-md-align-start">
      <li class="mr-auto">
        <a href="../pages/index.html">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg"
            alt="logo">
        </a>
      </li>
      <li class="mr-40 mr-sm-0 ml-md-12"><a href="https://orangjuic.github.io/training_week4_vite2/productslist" class="py-12">商品列表</a></li>
      <li class="ml-md-12"><a href="https://orangjuic.github.io/training_week4_vite2/story" class="py-12">品牌故事</a></li>
    </ul>
  </nav>
  <p class="text-sm">Copyright ©2025 URBNSTYLE</p>
  <p class="text-sm">All Rights Reserved.</p>
</footer>
